{% extends "base.html" %}
{% block content %}
<table id="tabla-capacitaciones" class="mdl-data-table mdl-js-data-table">

        <thead>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Mas info</th>
            <th>Asignar capacitador</th>
        </thead>
        {% for training in trainings %}
            <tr>
                <td>{{ training.name }} </td>
                <td>{{ training.description }}</td>
                <td><a href="{{ url_for('details', id=training.id) }}">Detalle</a> </td>
                <td><a href="{{ url_for('select_trainer', id=training.id) }}">Asignar</a></td>
            </tr>
        </div>
        {% endfor %}
    </table>
{% endblock %}