<html>
    <head>
           
            <!--<link rel="stylesheet" href="{{ url_for('static', filename='css/material.css') }}">-->
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/material.min.css') }}">
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <script src="{{ url_for('static', filename='js/material.min.js') }}"></script>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" >
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
            <script src="{{ url_for('static', filename='js/trainingChart.js') }}"></script>


            {% if title %}
            <title>{{ title }} - Seguimientos</title>
            {% else %}
            <title>Seguimiento</title>
            {% endif %}
    </head>
    <body>
            <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-tabs">
          <header class="mdl-layout--fixed-drawer">
            <div class="mdl-layout__header-row" id="barraPrincipal" style="display:flex;justify-content: space-between;">
              <a href="{{ url_for('index') }}" >
                <img  id="logo-largo" src="{{ url_for('static', filename='i/logo-gestion.png') }}" alt="">
               </a>
               <div id="login-area">
                    <!-- <a href="" id="login-button" class="mdl-button" data-upgraded=",MaterialButton">
                                <img src="{{ url_for('static', filename='i/logout.png') }}" alt="">
                    </a> -->
                    {% if current_user.is_authenticated %}
                        <a href="{{ url_for('logout') }}" class="mdl-layout__tab conteinerimglogout">
                            <img src="../static/i/logout.png" alt="imglogout" class="imglogout">
                        </a>
                    {% else %}
                        <a href="{{ url_for('login') }}" class="mdl-layout__tab" style="text-align: right;width: 100%;">Login</a>
                    {% endif %}        
                </div>
            </div>
            <!-- Tabs -->
            <div class="mdl-layout__tab-bar mdl-js-ripple-effect" id="barraSecundaria">
            <a href="{{ url_for('index') }}" class="mdl-layout__tab">Home</a>
           
            <div class="dropdown show">
                <a href="#" class="mdl-layout__tab dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Capacitaciones
                </a>
               
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="{{url_for('ongoingTrainings')}}">En curso</a>
                    <a class="dropdown-item" href="{{url_for('completedTrainings')}}">Finalizadas</a>
                    <a class="dropdown-item" href="{{ url_for('trainings') }}">Todas</a>
               </div>                
            </div>

            <a href="{{ url_for('users') }}" class="mdl-layout__tab">Capacitaciones Usuario</a>
            <a href="{{ url_for('create')}} " class="mdl-layout__tab">Alta capacitaciones</a>
            <a href="{{ url_for('assign')}} " class="mdl-layout__tab">Asignar capacitaciones</a>
            <a href="{{ url_for('students')}}" class="mdl-layout__tab">Listar estudiantes</a>
        </div>
        </header>
        <div class="">
             {% block content %}{% endblock %}
        </div>
        </div>

        
        
        
    </body>
</html>