<html>
    <head>
        {% if title %}
        <title>{{ title }} - Seguimientos</title>
        {% else %}
        <title>Seguimiento</title>
        {% endif %}
    </head>
    <body>
        <div>
            Seguimiento:
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('logout') }}">Logout</a>
            <a href="{{ url_for('trainings') }}">Capacitaciones</a>
            <a href="# ">Alta capacitaciones</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>s
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>