{% extends "base.html" %}

{% block content %}
<table style="width: 100%; margin: 10px;" id="tabla-capacitaciones" class="mdl-data-table mdl-js-data-table">
    <tbody>
        <tr>
        <th style="text-align: left;">Nombre</th>
        <th style="text-align: left;">Descripcion</th>
        <th style="text-align: left;">Capacitador</th>
        <th style="text-align: left;">Acciones</th>
        </tr>
    {% for training in trainings %}
        <tr>
            <td style="text-align: left;">{{ training.name }} </td>
            <td style="text-align: left;">{{ training.description }}</td>
            <td style="text-align: left;"><a href="{{ url_for('trainings_user', username=training.trainer.username) }}">{{training.trainer.username}}</a> </td>
            <td style="text-align: left;">
                <a href="{{ url_for('details', id=training.id) }}">Detalle</a> |
                <a href="{{ url_for('edit', id=training.id) }}">Editar</a> 
                {% if not training.finalizada %}
                    | <a href="#">Seguimiento</a> |
                    <a href="{{ url_for('finish', id=training.id) }}">Finalizar</a>
                {% endif %}
            </td>
        </tr>
    </div>
    {% endfor %}
</table>
{% endblock %}