
{% extends "base.html" %}

{% block content %}
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div>
            <b>{{ form.name.label }}</b>
            {{ form.name }}
        </div>
        <div>
            <b>{{ form.start.label }}</b>
            {{ form.start }}
        </div>
        <div>
            <b>{{ form.end.label }}</b>
            {{ form.end }}
        </div>
        <div>
            <b>{{ form.description.label }}</b>
            {{ form.description }}
        </div>
        <input type="submit" value="Enviar">
    </form>
{% endblock %}