{% extends "base.html" %}

{% block content %}
<div class="conteiner-tabla">
{% if trainings|length %}
<table id="tabla-capacitaciones" class="mdl-data-table mdl-js-data-table">
    <tbody>
        <tr>
        <th style="text-align: left;">Nombre</th>
        <th style="text-align: left;">Descripcion</th>
        <th style="text-align: left;">Capacitador</th>
        <th style="text-align: left;">Acciones</th>
        </tr>
    {% for training in trainings %}
        <tr>
            <td style="text-align: left;">{{ training.name }} </td>
            <td style="text-align: left;">{{ training.description }}</td>
            <td style="text-align: left;">
                <a href="{{ url_for('trainings_user', username=training.trainer.username) }}">{{training.trainer.username}}</a> 
            </td>
            <td style="text-align:center;">
                <a href="{{ url_for('details', id=training.id) }}">Detalle</a> |
                <a href="{{ url_for('edit', id=training.id) }}">Editar</a> |
                <a href="{{ url_for('classes', training_id=training.id) }}">Seguimiento</a>
                {% if not training.finalizada %}
                    | <a href="{{ url_for('finish', id=training.id) }}">Finalizar</a>
                {% endif %}
            </td>
        </tr>
    </tbody>
    {% endfor %}
</table>
{% endif %}
<div class="contenedor-canvas">
    <canvas id="mycanvas" width="100" height="100"></canvas>
</div>
</div>
<script>
        var oilData = {
            labels: [
                "Capacitaciones terminadas",
                "Capacitaciones en curso"                    
              ],
            datasets: [
                {
                    data: [ "{{datax[0]}}" , "{{datax[1]}}" ],
                    backgroundColor: [
                        "#3F51B5",
                        "#848C8E"
                    ]
                }]
        };
        //draw
        var ctx=document.getElementById("mycanvas");

        var chartOptions = {
            
          };

          var pieChart = new Chart(ctx, {
            type: 'pie',
            data: oilData,
            options: chartOptions
          });
</script>
{% endblock %}