{% extends "base.html" %}

{% block content %}
    <b>Nombre:</b> {{ training.name }}  <br>
    <b>Descripcion</b> {{ training.description }}<br>
    {% if training.classes.first() != None %}
    <b>Clases:</b><br>
        {% for class in training.classes %}
            <div><p>{{ class.number }}) {{ class.topics }}</b></p></div>
        {% endfor %}
    {% endif %}
    {% if training.trainer != None %}
    <b>Capacitador:</b>
        {{ training.trainer.username }}
    {% endif %}
    <br>
    <b>Comentarios:</b>
        {{ training.comments }}
    <br>
    {% block assign_trainer %}
    {% endblock %} 
{% endblock %}