{% extends "base.html" %}

{% block content %}
    <b>Nombre:</b> {{ training.name }}  <br>
    <b>Descripcion</b> {{ training.description }}<br>
    {% if training.classes.first() != None %}
    <b>Clases:</b><br>
        {% for training_class in training.classes %}
            <a href="{{ url_for('class_details', training_id=training.id, class_num=training_class.number) }}">{{ training_class.number }}) {{ training_class.topics }}</a>
            <br>
        {% endfor %}
    {% endif %}
    {% if training.trainer != None %}
    <b>Capacitador:</b>
        {{ training.trainer.username }}
    {% endif %}
    <br>
    <b>Comentarios:</b>
        {{ training.comments }}
    <br>
    {% block assign_trainer %}
    {% endblock %} 
{% endblock %}