<html>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" >
  <meta charset="UTF-8">
  <body>
    <div class="login">
     
    <div class="imglogin">

        <img src="../static/i/logologin.png" alt="logologin" />
        <p>Ingresar al sistema</p>
    </div>

      <form action="" class="formlogin" method="POST" novalidate>
          {{ form.hidden_tag() }}
            <input type="text" placeholder="Usuario" name="username" class="inputlogin">
            <input type="password" placeholder="Contraseña" class="inputlogin" name="password" > 
            <input type="submit" class="buttonlgn" value="INGRESAR">
      </form>
   
    </div>
  </body>
</html>
