{% extends "base.html" %}

{% block content %}
{% if students|length %}
<table id="tabla-capacitaciones" class="mdl-data-table mdl-js-data-table">
    <thead>
        <th>Legajo</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Email</th>
        <th>Carrera</th>
        <th>Acciones</th>
    </thead>
    {% for student in students %}
        <tr>
            <td>{{ student.file }} </td>
            <td>{{ student.name }} </td>
            <td>{{ student.surname }} </td>
            <td>{{ student.email }} </td>
            <td>{{ student.degree }} </td>
            <td style="text-align: left;">
                <a href="{{ url_for('student_delete', file=student.file) }}">borrar</a> |
                <a href="{{ url_for('student_edit', file=student.file) }}">editar</a>
            </td>
        </tr>
    {% endfor %}
</table>
{% endif %}
<a class="button" href="{{ url_for('student_create') }}" >Agregar alumno</a>
{% endblock %}