{% extends "base.html" %}
{% block content %}
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <div>
            <b>{{ form.email.label }}</b>
            {{ form.email }}
        </div>
        <div>
            <b>{{ form.surname.label }}</b>
            {{ form.surname }}
        </div>
        <div>
            <b>{{ form.name.label }}</b>
            {{ form.name }}
        </div>
        <div>
            <b>{{ form.degree.label }}</b>
            {{ form.degree }}
        </div>
        <input type="submit" value="Actualizar">
    </form>
{% endblock %}